<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.runninggroup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <!--安卓读写问题-->
        <activity android:name=".viewAndController.ChangePassword"></activity>
        <activity android:name=".viewAndController.TestActivity"></activity>
        <activity android:name=".viewAndController.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewAndController.Register" />
        <activity android:name=".viewAndController.MainInterface" />
        <activity android:name=".viewAndController.FriendMessage" />
        <activity android:name=".viewAndController.GroupMessage" />
        <activity android:name=".viewAndController.GroupBuild" />
        <activity android:name=".viewAndController.GroupIntroduct" />
        <activity android:name=".viewAndController.Manage" />

        <activity android:name=".viewAndController.Write"></activity>
        <activity android:name=".viewAndController.MemberManage"></activity>
        <activity android:name=".viewAndController.WriteTask"></activity>
        <activity android:name=".viewAndController.CardPersonal"></activity>
        <activity android:name=".viewAndController.PersonalSetting"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.miui.whetstone.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


</manifest>